.prompt {
  color: greenyellow;
  font-family: monospace;
}

.prompt-wrapper {
  display: flex;
  align-items: center;
}

.help-show{
  color:white;
}

.help-hide{
  display: none;
}

.user-input {
  display: inline-block;
  font-family: monospace;
  color: white;
  background-color: transparent;
  caret-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px;
  min-width: 1ch;
}

.cursor{
  display: inline-block;
  height: 15px;
  width: 8px;
  background-color: white;
  animation: blink 1s step-end infinite;
}

/* Hide caret midway through the animation */
@keyframes blink {
  50% {
      opacity: 0;
  }
}

.cursor-wrapper{
  position: fixed;
  padding: 0;
  margin: 0;
}

.response{
  color: white;
}

.top {
  font-family: monospace;
  position: fixed;
  overflow-y: auto;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  font-weight: bold;
}

.static-input {
  color: white;
  margin-left: 5px;
}

.input-response-pair {
  margin-bottom: 10px;
}
